<nav class="navbar navbar-light shadow-sm">
  <span class="navbar-brand mb-0 h1">{{title}}</span>
  <span>
    {{#if username}}
    Welcome: <span class="text-primary">{{username}}</span>
    <button id="logout" onclick="logout()" class="btn btn-secondary">Logout</button>
         <button onclick="{{link}}" class="btn btn-success">{{btnName}}</button>
    {{else}}
        <button id="loginButton" class="btn btn-success">Login</button>
    {{/if}}
  </span>
</nav>